/* --------------------partie 2 gros logo------------------- */
/* .FonctionUI {
  display: flex;
  justify-content: center;
  padding: 23px;
  color: #002060;
  margin: 5px;
} */

.contairePageUI {
  margin: 15px;
  color: #002060;
}
.uneCard {
  /* display: flex !important; */
  /* justify-content: center !important; */
  margin: auto !important;
  margin-bottom: 13px !important;
}
.uneCard p {
  text-align: left;
}
/* ----------------------logo1---------------------------------------- */
/* .PrendreUnePhoto {
  width: 113px;
} */
/* ----------------------------logo2--------------------------------- */
/* .ajoutevent {
  width: 70px;
}
.textUI {
  display: none;
} */

.filtres {
  font-size: small;
  color: #002060;
}
.containerFiltres {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  width: 95%;
}
.checkboxCategory {
  font-size: small;
}

/* ------------------------------------version desk---------------------------- */
@media (min-width: 768px) {
  .displayCards {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    color: #002060;
  }
  .uneCard {
    /* justify-content: space-between !important; */
    margin: 10px !important;
    width: 28rem !important;
    font-size: 0.8em;
  }

  .uneCard p {
    text-align: left;
  }
  .contairePageUI {
    font-size: x-large;
  }
  .containerFiltres {
    display: flex;
    justify-content: left;
    align-items: baseline;
  }
  .filtres {
    font-size: x-large;

    margin-left: 20px;
    height: 3px;
    width: 130px;
  }

  /* ----------------------logo1---------------------------------------- */
  /* .PrendreUnePhoto {
    width: 113px;
  } */
  /* ----------------------------logo2--------------------------------- */
  /* .ajoutevent {
    width: 113px;
  }
  .textUI {
    display: contents;
    font-size: xx-large;
  } */
}
