/* --------------------partie 2 gros logo------------------- */
.FonctionUI {
  display: flex;
  justify-content: center;
  padding: 23px;
  color: #002060;
}
/* ----------------------logo1---------------------------------------- */
/* .PrendreUnePhoto {
  width: 113px;
} */
/* ----------------------------logo2--------------------------------- */
/* .ajoutevent {
  width: 70px;
}
.textUI {
  display: none;
} */

/* ------------------------------------version desk---------------------------- */
@media (min-width: 768px) {
  .FonctionUI {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    color: #002060;
  }
  /* ----------------------logo1---------------------------------------- */
  /* .PrendreUnePhoto {
    width: 113px;
  } */
  /* ----------------------------logo2--------------------------------- */
  /* .ajoutevent {
    width: 113px;
  }
  .textUI {
    display: contents;
    font-size: xx-large;
  } */
}
