.containairAjoutEvent {
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
}
.lesInputs {
  border: solid #ff9090;
  box-shadow: 0px 0px 15px 0px #ff7575;
  border-radius: 15px;
  padding: 8px;
  font-size: small;
}
.nameInput {
  margin: 5px;
  width: 70%;
}
.autreInput {
  width: 92%;
  margin: 5px;
}
.adressInput {
  width: 45%;
  margin: 4px;
}
.dateInput {
  margin: 5px;
}

.checkboxSelect {
  display: flex;
  justify-content: space-around;
}

.monBoutonAddEvent {
  display: flex;
  justify-content: center;
  margin: 4px;
}
.boutonAddEvent {
  border: none;
  background-color: #da1460;
  width: 80px;
  height: 33px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.boutonAddEvent:hover,
.boutonAddEvent:active,
.boutonAddEvent:focus {
  background-color: white !important;
  border: solid 0.1em #009aa6;
  color: #009aa6;
}

.ajoutevent {
  width: 70px;
}

@media (min-width: 768px) {
  .containairAjoutEvent {
    width: 30%;
    margin-left: 600px;
  }
}
