.headerLP {
  background: linear-gradient(
    150deg,
    #ffcccc 5%,
    #ffccff 15%,
    #ffccff 30%,
    #ffccff 40%,
    #fcffe6 70%,
    #e7ffe6 80%,
    #ccffff 90%
  );
  box-shadow: 0px 3px 10px #009aa6;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logoLP {
  max-width: 100%;
}

.button-Log {
  border: none;
  height: 35px;
  width: 90px;
  border-radius: 5px;
  background-color: #009aa6;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  margin: 5px;
}
.button-Log:hover,
.button-Log:active,
.button-Log:focus {
  background-color: #e56dd0 !important;
}

/* .button-Log {
  width: 100px;
  height: 43px;
  border: solid 0.1em #002060;
  border-left: solid 0.2em #002060;
  border-right: solid 0.2em #002060;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    #002060,
    #818daa,
    #f1edeb,
    #f1edeb,
    #f1edeb,
    #f1edeb,
    #f1edeb,
    #f1edeb,
    #818daa,
    #002060
  );

  color: #002060;
  font-size: 1em;
  font-weight: bold;
  margin: 5px;
}
.button-Log:hover,
.button-Log:active,
.button-Log:focus {
  background: linear-gradient(75deg, #ff9900, #f1edeb, #f1edeb, #ff9900);
  border: solid 0.1em #ff9900;
  border-left: solid 0.2em #ff9900;
  border-right: solid 0.2em #ff9900;
  color: #ff9900;
} */

@media (min-width: 768px) {
  .headerLP {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 3px 18px #009aa6;
  }
  .logoLP {
    max-width: 35%;
  }

  .button-Log {
    height: 53px;
    width: 153px;
    font-size: 1.5em;
    margin-left: 15px;
  }
}
