.alert {
  color: #009aa6 !important;
  font-size: 0.8em;
}

.modifNameInput {
  width: 183px;
  height: 23px;
  font-size: smaller;
}
.boutonModifierName {
  margin-left: 6px;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: #d60093;
  color: white;
  font-weight: bold;
  /* font-size: 1.3em; */
}

.boutonModifierName:hover,
.boutonModifierName:active,
.boutonModifierName:focus {
  background-color: #009aa6 !important;
}

@media (min-width: 768px) {
  .alert {
    font-size: 1em;
  }
  .modifNameInput {
    width: 280px;
    height: 28px;
    font-size: 1.3em;
  }

  .boutonModifierName {
    height: 33px;
    width: 100px;
    font-weight: bold;
    text-align: center;
    font-size: large;
  }
}
