/* ---------------------box navbar------------------------------------- */
.navbar {
  background: linear-gradient(
    150deg,
    #ffcccc 5%,
    #ffccff 15%,
    #ffccff 30%,
    #ffccff 40%,
    #fcffe6 70%,
    #e7ffe6 80%,
    #ccffff 90%
  );
  box-shadow: 0px 3px 10px #009aa6;

  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.NBContainerLogo {
  max-width: 30%;
}
/* ---------------------Logo TODOAPP---------------------------------------- */
.logoNB {
  margin-left: 10px;
  max-width: 40px;
}

.logoContainerDesktop {
  display: none;
}
/* --------------------icon navigation---------------------------------- */
/* ---------------------box des icons------------------------------------- */
.iconeNB {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

/* -------------------------------ICON------------------------------ */
.logoProfileNB {
  margin-top: 13px;
  width: 63px;
}
.logoDocNB {
  margin-top: 5px;
  width: 50px;
}
.logoDisconnectNB {
  margin-top: 13px;
  width: 36px;
}

@media (min-width: 768px) {
  .navbar {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    box-shadow: 0px 3px 20px #009aa6;
  }
  .logoContainerDesktop {
    display: block;
    width: 500px;
  }
  .logoDesk {
    max-width: 75%;
  }
  .logoNB {
    display: none;
  }
  .iconeNB {
    width: 40%;
  }

  .logoProfileNB {
    width: 133px;
  }
  .logoDocNB {
    width: 93px;
  }
  .logoDisconnectNB {
    margin-top: 25px;
    width: 70px;
  }
}
